html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
/*清除浮动*/
.clearfix::after {
  display: block;
  visibility: hidden;
  clear: both;
  content: ".";
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.pxg_header {
  width: 100%;
  height: 45px;
  padding: 4px;
  background-color: #eee;
}
.pxg_main {
  width: 100%;
  flex: 1;
  overflow: scroll;
}
.pxg_footer {
  width: 100%;
  height: 45px;
}
.pxg_footer .pxg_cat {
  font-size: 12px;
}
.loadding::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  content: "";
  z-index: 100;
}
.loadding::after {
  font: normal normal normal 14px/1 FontAwesome;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -50px;
  font-size: 80px;
  color: #f00;
  content: "\f004";
  z-index: 101;
  animation: fa-spin 1s infinite linear;
}
.layout .pxg_main {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff;
}
.layout .pxg_main .mui-scroll-wrapper {
  top: 44px;
}
.layout .pxg_main .details {
  width: 100%;
  padding: 6px;
}
.layout .pxg_main .details > p {
  font-size: 14px;
  color: #333;
}
.layout .pxg_main .details > em {
  display: inline-block;
  padding-top: 10px;
  font-size: 20px;
  color: red;
}
.layout .pxg_main .details > ul li {
  display: flex;
  border-bottom: 1px solid #333;
  padding: 10px 0;
}
.layout .pxg_main .details > ul li > em {
  font-size: 14px;
}
.layout .pxg_main .details > ul li > em:nth-of-type(1) {
  color: #aaa;
  flex: 1;
}
.layout .pxg_main .details > ul li > em:nth-of-type(2) {
  flex: 5;
}
.layout .pxg_main .tab_bar #item2 li {
  color: #aaa;
  padding: 0 10px;
}
.layout .pxg_main .tab_bar #item2 li h4 {
  border-bottom: 1px solid #333;
  font-size: 16px;
  line-height: 40px;
}
.layout .pxg_main .tab_bar #item2 li strong {
  line-height: 30px;
  font-size: 13px;
}
.layout .pxg_footer {
  width: 100%;
  height: 45px;
}
.layout .pxg_footer .mui-bar .mui-tab-item > span:nth-child(2) {
  font-size: 13px;
}
.layout .pxg_footer a:nth-of-type(-n+3) {
  border-right: 1px solid #999;
}
.layout .pxg_footer a:nth-of-type(3) > input {
  width: 100%;
  height: 100%;
  background-color: orange;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
}
.layout .pxg_footer a:nth-of-type(4) > input {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
}
