@import '../styles/reset';
@import '../styles/common.less';

// 主页主体样式
.pxg_main {
// 主页轮播样式
  .pxg_banner {
    .mui-slider-group {
      .mui-slider-item {
        img {
          width: 100%;
        }
      }
    }
  }
// 主页导航样式
  .pxg_nav {
    padding: 15px;
    width: 100%;
    display: flex;
    background-color: #fff;

    >a {
      width: 25%;
      text-align: center;
      font-size: 13px;
      color: #333;

      >img {
        transform: translate(50%);
        width: 50%;
        display: block;
      }
    }
  }
// 主页产品样式
  .pxg_pro {
    padding: 10px;

    .pxg_box {
      width: 100%;
      >img {
        width: 100%;
        display: inline-block;
        margin-bottom: 5px;
      }

      .pro_box {
        background-color: #fff;
        width: 49%;
        height: 425px;
        // padding-bottom: 3px;
        margin-bottom: 7px;
        float: left;
        font-size: 14px;
        img {
          width: 100%;
          display: inline-block;
        }
        .pro_desc {
          color: #333;
          margin: 5px 0;
          
        }

        .pro_price {
          color: #f00;
        }

        .pro-btn {
          width: 80%;
          display: block;
          margin: 5px auto;
        }

      }
     .pro_box:nth-of-type(even){
       margin-left: 2%;
     }
    }
  }

}
